In [2]:

import pandas as pd
from access_onedrive import create_onedrive_directdownload
   
data_files = ['https://1drv.ms/x/s!AsCp_kE1E5Md510L7cgZfxy_ifCq?e=bNj2eY', 'https://1drv.ms/x/s!AsCp_kE1E5Md6TUUuL5DtjrFTggO?e=xA3jaE', 'https://1drv.ms/x/s!AsCp_kE1E5Md6TSDbgcW_MFQzySB?e=oWsFUm']

In [3]:
data = pd.DataFrame()
for file in range(len(data_files)):
    data.append(pd.read_excel(create_onedrive_directdownload(data_files[file])))

C:\Users\Hp\AppData\Local\Temp\ipykernel_19796\1131516197.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data.append(pd.read_excel(create_onedrive_directdownload(file)))
C:\Users\Hp\AppData\Local\Temp\ipykernel_19796\1131516197.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data.append(pd.read_excel(create_onedrive_directdownload(file)))
C:\Users\Hp\AppData\Local\Temp\ipykernel_19796\1131516197.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data.append(pd.read_excel(create_onedrive_directdownload(file)))

In [7]:
data.append(pd.read_excel(create_onedrive_directdownload(data_files[0])))

C:\Users\Hp\AppData\Local\Temp\ipykernel_19796\2144387018.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data.append(pd.read_excel(create_onedrive_directdownload(data_files[0])))

,Unnamed: 0,A,ER_NO,GENDER,CITY,AREA,AGE_YEARS,MR_DOB,TRIAGE_DATETIME,TRIAGECOMPLAINT,...,month,day,hour,lostriage,losED,loshospital,shift,new_mr,new_doctor_name,new_nurse_name
0,0,1,E001467306,M,KARACHI,Gulshan-e-Iqbal,17.0037,37375,2019-04-30 14:12:51,Bites and stings,...,4,30,14,0.183333,1440.000000,NaN,Shift 2,221019006472399,Jason Brown,Rachel Bell
1,1,2,E001461259,M,KARACHI,Azam Basti,19.0006,36635,2019-04-19 23:28:58,Limb problems,...,4,19,23,7.983333,NaN,NaN,Shift 1,971019005957160,Jacob Stein,Rachel Bell
2,2,3,E001453586,F,KARACHI,Korangi,25.8453,34121,2019-04-05 23:43:38,Unwell adult,...,4,6,0,31.816667,1440.000000,NaN,Shift 1,831017028941466,Jason Brown,Rachel Bell
3,3,4,E001455608,F,KARACHI,Landhi,60.0020,21649,2019-04-09 15:30:03,Limb problems,...,4,9,17,134.200000,1440.000000,NaN,Shift 2,491019005437584,Cody Brown,Rachel Bell
4,4,5,E001467427,F,Badin,KHOSKI ROAD,25.4750,34281,2019-04-30 17:36:57,Unwell adult,...,4,30,17,6.666667,1440.000000,NaN,Shift 2,431018008276111,Jason Brown,Rachel Bell
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137415,137415,20105,E001547651,F,KARACHI,Bhains colony,53.9943,24001,2019-09-14 09:53:17,"Limb problems,Wounds",...,9,14,10,26.300000,613.716667,NaN,Shift 2,151015013058550,Cynthia Gutierrez,Lisa Thomas
137416,137416,20108,E001554170,F,KARACHI,Korangi,30.0010,32774,2019-09-23 21:09:38,"Headache,Unwell adult",...,9,23,21,2.216667,168.066667,NaN,Shift 1,671019014052499,Jonathan Francis,Margaret Yates
137417,137417,20109,E001549164,M,KARACHI,Sadar,21.3378,35931,2019-09-16 12:53:05,"Abdominal pain in adults,Unwell adult",...,9,16,15,149.133333,345.250000,NaN,Shift 2,635018000010214,Cynthia Gutierrez,Regina Johnson
137418,137418,20110,E001549787,F,KARACHI,Korangi,29.2609,33038,2019-09-17 12:59:53,Headache,...,9,17,13,21.750000,127.766667,NaN,Shift 2,511016008333764,Andrew Patterson,Patricia Rowland
137419,137419,20111,E001547209,M,KARACHI,Ibrahim Hydri,50.6987,25204,2019-09-13 16:28:26,"Facial problems,Limb problems",...,9,13,16,1.933333,257.350000,NaN,Shift 2,381019013406075,Joseph Banks,Brianna Riggs

In [6]:
print(data)

Empty DataFrame
Columns: []
Index: []

In [ ]:
#write appended data to one drive
#clean new data 
#append new data to old data and save it as old data
#pass the new data for analysis

#remove duplicate rows in indus clean

In [ ]:
df.concat()