In [42]:
import pandas as pd
from access_onedrive import create_onedrive_directdownload
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
onedrive_link = 'https://1drv.ms/x/s!AsCp_kE1E5Md6U4PwNcWkXp_SnEL?e=3gStJc'
link = create_onedrive_directdownload(onedrive_link)
df = pd.read_excel(link)

In [48]:
df.head(5)
# df.info()

   Unnamed: 0       ER_No     Triage_Datetime
0           0  E001467306 2019-04-30 14:12:51
1           1  E001461259 2019-04-19 23:28:58
2           2  E001453586 2019-04-05 23:43:38
3           3  E001455608 2019-04-09 15:30:03
4           4  E001467427 2019-04-30 17:36:57

In [56]:
#removing anomalies
df = df[df.Triage_Datetime != df.ER_No]
df.pop(df.columns[0])

0              0
1              1
2              2
3              3
4              4
5              5
6              6
7              7
8              8
9              9
10            10
11            11
12            12
13            13
14            14
15            15
16            16
17            17
18            18
19            19
20            20
21            21
22            22
23            23
24            24
25            25
26            26
27            27
28            28
29            29
           ...
388766    388766
388767    388767
388768    388768
388769    388769
388770    388770
388771    388771
388772    388772
388773    388773
388774    388774
388775    388775
388776    388776
388777    388777
388778    388778
388779    388779
388780    388780
388781    388781
388782    388782
388783    388783
388784    388784
388785    388785
388786    388786
388787    388787
388788    388788
388789    388789
388790    388790
388792    388792
388793    388793
388794    388794
388795    388795
388796    388796
Name: Unnamed: 0, Length: 384095, dtype: int64

In [57]:
#fetching date from the datetime column
df['Triage_Datetime'] = pd.to_datetime(df['Triage_Datetime'])
df['Triage_Datetime'] = df['Triage_Datetime'].dt.date
df.head(5)

        ER_No Triage_Datetime
0  E001467306      2019-04-30
1  E001461259      2019-04-19
2  E001453586      2019-04-05
3  E001455608      2019-04-09
4  E001467427      2019-04-30

In [58]:
#perform aggregate on er_no column

ValueError: Either both or neither of `x` and `y` must be specified (but try passing to `data`, which is more flexible).