In [42]:
import pandas as pd
from access_onedrive import create_onedrive_directdownload
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
onedrive_link = 'https://1drv.ms/x/s!AsCp_kE1E5Md6U4PwNcWkXp_SnEL?e=3gStJc'
link = create_onedrive_directdownload(onedrive_link)
df = pd.read_excel(link)

In [48]:
df.head(5)
# df.info()

   Unnamed: 0       ER_No     Triage_Datetime
0           0  E001467306 2019-04-30 14:12:51
1           1  E001461259 2019-04-19 23:28:58
2           2  E001453586 2019-04-05 23:43:38
3           3  E001455608 2019-04-09 15:30:03
4           4  E001467427 2019-04-30 17:36:57

In [40]:
#removing anomalies
df = df[df.Triage_Datetime != df.ER_No]

In [54]:
#fetching date from the datetime column
df['Triage_Datetime'] = pd.to_datetime(df['Triage_Datetime'])
df['Triage_Datetime'] = df['Triage_Datetime'].dt.date
df.head(5)

   Unnamed: 0       ER_No Triage_Datetime
0           0  E001467306      2019-04-30
1           1  E001461259      2019-04-19
2           2  E001453586      2019-04-05
3           3  E001455608      2019-04-09
4           4  E001467427      2019-04-30